@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // pakai layout utama
    ViewData["Title"] = "Dashboard";
}

<div class="text-center mt-5">
    <h2>Selamat Datang di Dashboard</h2>
    <p>Ini adalah halaman dashboard.</p>
</div>
